{% extends 'base.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}
<div class="row mt-5">
    <div class="col-md-12">
    <h1><i class="fa fa-calendar-alt"></i> Bookings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th><i class="fa fa-id-badge"></i> Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-calendar-day"></i> Date</th>
                <td>{{ booking.date ? booking.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-clock"></i> Time</th>
                <td>{{ booking.time ? booking.time|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-envelope"></i> Email</th>
                <td>{{ booking.email }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-hourglass-half"></i> Duration</th>
                <td>{{ booking.duration }}</td>
            </tr>
            <tr>
                <th><i class="fa fa-dollar-sign"></i> TotalPrice</th>
                <td>{{ booking.TotalPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bookings_index') }}" class="btn btn-primary">
        <i class="fa fa-arrow-left"></i> Back to list
    </a>

    {{ include('bookings/_delete_form.html.twig', {'class': 'btn btn-danger'}) }}
    </div>
</div>
{% endblock %}
